body {
  margin: 0;
    padding: 0;
    border: 0;
}
.test img {
width: 1333px;
}
@media screen and (max-width: 1300px) {
 .test img {
  width: 1100px;
 }
}
@media screen and (max-width: 1200px) {
 .test img {
  width: 1000px;
 }
}
@media screen and (max-width: 1100px) {
 .test img {
  width: 800px;
 }
}
@media screen and (max-width: 992px) {
 .test img {
  visibility: hidden;
 }
}




/*ios*/
.ios button {
 position: absolute;
 background: white;
 width: 127px;
 height: 127px;
 border-radius: 50%;
 margin-top: -780px;
 margin-left: 420px;
 border: 2px solid rgb(66, 115, 182);
}
.ios #ios img {
 position: absolute;
 width: 150px;
 left: -13px;
 top: 20px;
}
.ios button:hover {
 background: rgb(66, 115, 182);
}
.ios #ios1 img {
 visibility: hidden;
 position: absolute;
 width: 150px;
 left: -13px;
 top: 20px;
}
.ios button:hover {
 background: rgb(66, 115, 182);
}
.ios #ios img:hover {
 display: none;
}
.ios button:hover #ios1 img{
 visibility: visible;
 z-index: 1;
}
@media screen and (max-width: 1300px) {
 .ios button {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  margin-top: -643px;
  margin-left: 348px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .ios #ios img {
  position: absolute;
  width: 150px;
  left: -25px;
  top: 10px;
}
.ios #ios1 img {
 visibility: hidden;
 position: absolute;
 width: 150px;
 left: -25px;
 top: 10px;
}
}
@media screen and (max-width: 1200px) {
 .ios button {
  width: 93px;
  height: 93px;
  border-radius: 50%;
  margin-top: -585px;
  margin-left: 316px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .ios #ios img {
  position: absolute;
  width: 145px;
  left: -28px;
  top: 7px;
}
.ios #ios1 img {
 visibility: hidden;
 position: absolute;
 width: 145px;
 left: -28px;
 top: 7px;
}
}
@media screen and (max-width: 1100px) {
.ios button {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  margin-top: -470px;
  margin-left: 253px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .ios #ios img {
  position: absolute;
  width: 122px;
  left: -26px;
  top: 5px;
}
.ios #ios1 img {
 visibility: hidden;
 position: absolute;
 width: 122px;
 left: -26px;
 top: 5px;
}
}
@media screen and (max-width: 992px) {
 .ios #ios img {
  visibility: visible;
  width: 500px;
  left: -80px;
  top: 40px;
 }
 .ios #ios1 img {
   width: 500px;
  left: -80px;
  top: 40px;
 }
 .ios button {
  border:3px solid rgb(66, 115, 182);;
  width: 350px;
  height: 350px;
  left:-220px;
 }
}


/*android*/
.android button {
 position: absolute;
 background: white;
 width: 127px;
 height: 127px;
 border-radius: 50%;
 margin-top: -780px;
 margin-left: 780px;
 border: 2px solid rgb(66, 115, 182);
}
.android #android img {
 position: absolute;
 width: 150px;
 left: -13px;
 top: 20px;
}
.android button:hover {
 background: rgb(66, 115, 182);
}
.android #android1 img {
 visibility: hidden;
 position: absolute;
 width: 150px;
 left: -13px;
 top: 20px;
}
.android button:hover {
 background: rgb(66, 115, 182);
}
.android #android img:hover {
 display: none;
}
.android button:hover #android1 img{
 visibility: visible;
 z-index: 1;
}
@media screen and (max-width: 1300px) {
 .android button {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  margin-top: -643px;
  margin-left: 644px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .android #android img {
  position: absolute;
  width: 150px;
  left: -25px;
  top: 10px;
}
.android #android1 img {
 visibility: hidden;
 position: absolute;
 width: 150px;
 left: -25px;
 top: 10px;
}
}
@media screen and (max-width: 1200px) {
 .android button {
  width: 93.5px;
  height: 93.5px;
  border-radius: 50%;
  margin-top: -585px;
  margin-left: 585px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .android #android img {
  position: absolute;
  width: 145px;
  left: -26px;
  top: 7px;
}
.android #android1 img {
 visibility: hidden;
 position: absolute;
 width: 145px;
 left: -26px;
 top: 7px;
}
}
@media screen and (max-width: 1100px) {
.android button {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  margin-top: -470px;
  margin-left: 468px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .android #android img {
  position: absolute;
  width: 122px;
  left: -24px;
  top: 5px;
}
.android #android1 img {
 visibility: hidden;
 position: absolute;
 width: 122px;
 left: -24px;
 top: 5px;
}
}
@media screen and (max-width: 992px) {
 .android #android img {
  visibility: visible;
  width: 500px;
  left: -80px;
  top: 40px;
 }
 .android #android1 img {
   width: 500px;
  left: -80px;
  top: 40px;
 }
 .android button {
  border:3px solid rgb(66, 115, 182);;
  width: 350px;
  height: 350px;
  left:50px;
 }
}


/*desctop*/
.desctop button {
 position: absolute;
 background: white;
 width: 127px;
 height: 127px;
 border-radius: 50%;
 margin-top: -574px;
 margin-left: 420px;
 border: 2px solid rgb(66, 115, 182);
}
.desctop #desctop img {
 position: absolute;
 width: 150px;
 left: -13px;
 top: 20px;
}
.desctop button:hover {
 background: rgb(66, 115, 182);
}
.desctop #desctop1 img {
 visibility: hidden;
 position: absolute;
 width: 150px;
 left: -13px;
 top: 20px;
}
.desctop button:hover {
 background: rgb(66, 115, 182);
}
.desctop #desctop img:hover {
 display: none;
}
.desctop button:hover #desctop1 img{
 visibility: visible;
 z-index: 1;
}
@media screen and (max-width: 1300px) {
 .desctop button {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  margin-top: -474px;
  margin-left: 348px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .desctop #desctop img {
  position: absolute;
  width: 140px;
  left: -20px;
  top: 18px;
}
.desctop #desctop1 img {
 visibility: hidden;
 position: absolute;
 width: 140px;
 left: -20px;
 top: 18px;
}
}
@media screen and (max-width: 1200px) {
 .desctop button {
  width: 93.5px;
  height: 93.5px;
  border-radius: 50%;
  margin-top: -431px;
  margin-left: 316px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .desctop #desctop img {
  position: absolute;
  width: 127px;
  left: -17.5px;
  top: 15px;
}
.desctop #desctop1 img {
 visibility: hidden;
 position: absolute;
 width: 127px;
 left: -17.5px;
 top: 15px;
}
}
@media screen and (max-width: 1100px) {
.desctop button {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  margin-top: -347px;
  margin-left: 253px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .desctop #desctop img {
  position: absolute;
  width: 100px;
  left: -13px;
  top:13px;
}
.desctop #desctop1 img {
 visibility: hidden;
 position: absolute;
 width: 100px;
 left: -13px;
 top:13px;
}
}
@media screen and (max-width: 992px) {
 .desctop #desctop img {
  visibility: visible;
  width: 470px;
  left: -65px;
  top: 55px;
 }
 .desctop #desctop1 img {
   width: 470px;
  left: -65px;
  top: 55px;
 }
 .desctop button {
  border:3px solid rgb(66, 115, 182);;
  width: 350px;
  height: 350px;
  left:-220px;
  top:800px;
 }
}



/*web*/
.web button {
 position: absolute;
 background: white;
 width: 127px;
 height: 127px;
 border-radius: 50%;
 margin-top: -574px;
 margin-left: 780px;
 border: 2px solid rgb(66, 115, 182);
}
.web #web img {
 position: absolute;
 width: 150px;
 left: -13px;
 top: 20px;
}
.web button:hover {
 background: rgb(66, 115, 182);
}
.web #web1 img {
 visibility: hidden;
 position: absolute;
 width: 150px;
 left: -13px;
 top: 20px;
}
.web button:hover {
 background: rgb(66, 115, 182);
}
.web #web img:hover {
 display: none;
}
.web button:hover #web1 img{
 visibility: visible;
 z-index: 1;
}
@media screen and (max-width: 1300px) {
 .web button {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  margin-top: -474px;
  margin-left: 644px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .web #web img {
  position: absolute;
  width: 140px;
  left: -20px;
  top: 15px;
}
.web #web1 img {
 visibility: hidden;
 position: absolute;
 width: 140px;
 left: -20px;
 top: 15px;
}
}
@media screen and (max-width: 1200px) {
 .web button {
  width: 93.5px;
  height: 93.5px;
  border-radius: 50%;
  margin-top: -431.5px;
  margin-left: 585px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .web #web img {
  position: absolute;
  width: 127px;
  left: -17.5px;
  top: 15px;
}
.web #web1 img {
 visibility: hidden;
 position: absolute;
 width: 127px;
 left: -17.5px;
 top: 15px;
}
}
@media screen and (max-width: 1100px) {
.web button {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  margin-top: -347px;
  margin-left: 468px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .web #web img {
  position: absolute;
  width: 100px;
  left: -13px;
  top:13px;
}
.web #web1 img {
 visibility: hidden;
 position: absolute;
 width: 100px;
 left: -13px;
 top:13px;
}
}
@media screen and (max-width: 992px) {
 .web #web img {
  visibility: visible;
  width: 500px;
  left: -80px;
  top: 40px;
 }
 .web #web1 img {
   width: 500px;
  left: -80px;
  top: 40px;
 }
 .web button {
  border:3px solid rgb(66, 115, 182);;
  width: 350px;
  height: 350px;
  left:50px;
  top: 800px;
 }
}


/*cloud*/
.cloud button {
 position: absolute;
 background: white;
 width: 127px;
 height: 127px;
 border-radius: 50%;
 margin-top: -370px;
 margin-left: 420px;
 border: 2px solid rgb(66, 115, 182);
}
.cloud #cloud img {
 position: absolute;
 width: 150px;
 left: -13px;
 top: 20px;
}
.cloud button:hover {
 background: rgb(66, 115, 182);
}
.cloud #cloud1 img {
 visibility: hidden;
 position: absolute;
 width: 150px;
 left: -13px;
 top: 20px;
}
.cloud button:hover {
 background: rgb(66, 115, 182);
}
.cloud #cloud img:hover {
 display: none;
}
.cloud button:hover #cloud1 img{
 visibility: visible;
 z-index: 1;
}
@media screen and (max-width: 1300px) {
 .cloud button {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  margin-top: -305px;
  margin-left: 348px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .cloud #cloud img {
  position: absolute;
  width: 140px;
  left: -20px;
  top: 15px;
}
.cloud #cloud1 img {
 visibility: hidden;
 position: absolute;
 width: 140px;
 left: -20px;
 top: 15px;
}
}
@media screen and (max-width: 1200px) {
 .cloud button {
  width: 93.5px;
  height: 93.5px;
  border-radius: 50%;
  margin-top: -278px;
  margin-left: 315.5px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .cloud #cloud img {
  position: absolute;
  width: 127px;
  left: -17.5px;
  top: 15px;
}
.cloud #cloud1 img {
 visibility: hidden;
 position: absolute;
 width: 127px;
 left: -17.5px;
 top: 15px;
}
}
@media screen and (max-width: 1100px) {
.cloud button {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  margin-top: -225px;
  margin-left: 252px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .cloud #cloud img {
  position: absolute;
  width: 100px;
  left: -13px;
  top:13px;
}
.cloud #cloud1 img {
 visibility: hidden;
 position: absolute;
 width: 100px;
 left: -13px;
 top:13px;
}
}
@media screen and (max-width: 992px) {
 .cloud #cloud img {
  visibility: visible;
  width: 500px;
  left: -80px;
  top: 40px;
 }
 .cloud #cloud1 img {
   width: 500px;
  left: -80px;
  top: 40px;
 }
 .cloud button {
  border:3px solid rgb(66, 115, 182);;
  width: 350px;
  height: 350px;
  left:-220px;
  top:1120px;
 }
}



/*data*/
.data button {
 position: absolute;
 background: white;
 width: 127px;
 height: 127px;
 border-radius: 50%;
 margin-top: -370px;
 margin-left: 780px;
 border: 2px solid rgb(66, 115, 182);
}
.data #data img {
 position: absolute;
 width: 150px;
 left: -13px;
 top: 20px;
}
.data button:hover {
 background: rgb(66, 115, 182);
}
.data #data1 img {
 visibility: hidden;
 position: absolute;
 width: 150px;
 left: -13px;
 top: 20px;
}
.data button:hover {
 background: rgb(66, 115, 182);
}
.data #data img:hover {
 display: none;
}
.data button:hover #data1 img{
 visibility: visible;
 z-index: 1;
}
@media screen and (max-width: 1300px) {
 .data button {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  margin-top: -305px;
  margin-left: 644px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .data #data img {
  position: absolute;
  width: 140px;
  left: -20px;
  top: 12px;
}
.data #data1 img {
 visibility: hidden;
 position: absolute;
 width: 140px;
 left: -20px;
 top: 12px;
}
}
@media screen and (max-width: 1200px) {
 .data button {
  width: 93.5px;
  height: 93.5px;
  border-radius: 50%;
  margin-top: -278px;
  margin-left: 585px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .data #data img {
  position: absolute;
  width: 127px;
  left: -17.5px;
  top: 10px;
}
.data #data1 img {
 visibility: hidden;
 position: absolute;
 width: 127px;
 left: -17.5px;
 top: 10px;
}
}
@media screen and (max-width: 1100px) {
.data button {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  margin-top: -225px;
  margin-left: 468px;
  border: 1.5px solid rgb(66, 115, 182);
 }
 .data #data img {
  position: absolute;
  width: 100px;
  left: -13px;
  top:10px;
}
.data #data1 img {
 visibility: hidden;
 position: absolute;
 width: 100px;
 left: -13px;
 top:10px;
}
}
@media screen and (max-width: 992px) {
 .data #data img {
  visibility: visible;
  width: 500px;
  left: -80px;
  top: 40px;
 }
 .data #data1 img {
   width: 500px;
  left: -80px;
  top: 40px;
 }
 .data button {
  border:3px solid rgb(66, 115, 182);;
  width: 350px;
  height: 350px;
  left: 50px;
  top: 1120px;
 }
}